/* Alinhamento de texto */

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


.alinhamento-direita{
    text-align: right;
}

.centralizar-container{
text-align: center;
width: 200px;   
border: 4px solid salmon;
}

/* sublinhado em baixo */
.underline{
    text-decoration: underline;

}
/* riscado no meio */
.linhe-through{
text-decoration: line-through;
}
/* Sem Sublinhado */
.remove-underline {
text-decoration: none;
color: orangered;
}
/* SObrelinha */
.overline{
text-decoration: overline;
color: chocolate;
}


.maiuscula{
text-transform: uppercase;

}


.minuscula{
text-transform: lowercase;

}

.primeira-letra-maiuscula{
text-transform: capitalize;

}

.spacing{

    letter-spacing: 10px;
}


.fonte-serif{
font-family: serif;
}
.fonte-sans-serif{
font-family: sans-serif;
}
.fonte-monospace{
font-family: monospace;
}
.fonte-cursive{
font-family: cursive;
}
.fonte-fantasy{
font-family: fantasy;
}
.outra-fonte{
font-family: Arial, Helvetica, sans-serif;
}
.trazer-fonte{
 font-family: 'Croissant One', cursive;
}

.normal{
font-style: normal;
}
.italic{
font-style: italic;

}
.oblique{
font-style: oblique;
}



/* Espessura da fonte */

.lighter, .bold, .bolder {
    font-family: Arial, Helvetica, sans-serif;
}

.lighter{
    font-weight: 100;
}
.bold{
    font-weight: 500;
}
.bolder{
    font-weight: 900;
}



.tamanho-30px {
font-size: 30px;

}

.tamanho-80px {
font-size: 80px;

}
.xx-mall{
font-size: xx-small;

}
.xx-large{
font-size: xx-large;

}




